<h3>All the pizzas!</h3>
<% @orders.each do |order| %>
  <div class="order">
    <fieldset>
     <p>Name: <%= order.pretty_name() %></p>
     <p>Order: <%= order.topping() %> x <%= order.quantity() %> </p>
     <p>Total: <%= order.total() %></p>
     <form method="post" action="/pizza_orders/<%=order.id%>/delete">
       <a href="/pizza_orders/<%= order.id%>"><button type="button">Show Order</button></a>
       <a href="/pizza_orders/<%= order.id%>/edit"><button type="button">Edit Order</button></a>
       <input type="submit" value="Delete Order">
     </form>
   </fieldset>
  </div>
<% end %>
